<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @player.price %>
</p>

<p>
  <strong>Role:</strong>
  <%= @player.role %>
</p>

<p>
  <strong>KDA:</strong>
  <%= @player.kda %>
</p>
<p>
	<strong>CS/min:</strong>
	<%= @player.csmin %>
</p>
<p>
	<strong><a href="#" data-rel="popover" data-toggle="popover" data-content="Supports : KDA * 2.<br>Everyone else: KDA + cs/min" data-title="Point Calculation" data-html="true" data-no-turbolink>Points:</a></strong>
	<%= @player.total_points %>
</p>
<%= link_to 'Back', players_path %>
